<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
<li [ngClass]="{'completed': todo.completado, 'editing': editando}">
    <div class="view">
        <input [formControl]="chkField" class="toggle" type="checkbox">
        <label (dblclick)="Editar()">{{todo.texto}}</label>
        <button (click)="borrarTodo()" class="destroy"></button>
    </div>
    <input (keyup.enter)="inputFisico.blur()" [formControl]="txtInput" class="edit" [value]="todo.texto" (blur)="TerminarEdicion()" #inputFisico>
</li>